{% if answers|length < 4 %}
    <a class="btn btn-outline-secondary btn-sm w-100 mt-2" href="{{ path('add_answer', {'category': category.getLowerKey(), 'questionId': question.getId()}) }}">Dodaj odpowiedź</a>
{% endif %}