{% if answers|length < 4 %}
    <a class="btn btn-outline-secondary btn-sm" href="{{ path('add_answer', {'category': category.getKey(), 'questionId': question.getId()}) }}">Dodaj odpowiedź</a>
{% endif %}