<div class="card green-hover question-subcategory mb-1 {{ isSelected is defined and isSelected == true ? 'selected-subcategory' }}"
     style="margin-right: 0.2rem !important; padding: 0 !important;"
     question-subcategory="{{ subcategory }}"
>
    <div class="card-body text-secondary" style="padding: 0.2rem 0.5rem 0.2rem 0.5rem !important;">
        <span class="card-title text-center">{{ subcategory }}</span>
    </div>
</div>