<div class="card green-hover question-subcategory mb-2 {{ isSelected is defined and isSelected == true ? 'selected-subcategory' }}"
     style="margin-right: 0.5rem !important;"
     question-subcategory="{{ subcategory }}"
>
    <div class="card-body text-secondary">
        <h5 class="card-title text-center">{{ subcategory }}</h5>
    </div>
</div>