{% extends 'base.html.twig' %}

{% block title %}Dziękujemy za rejestrację.{% endblock %}
{% block body %}
    <p class="text-center">Proszę poczekać aż admin aktywuje twoje konto.</p>
{% endblock %}
