textarea {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.selected-answer, .selected-subcategory {
    background-color: rgba(6, 131, 6, 0.5);
    cursor: default;
    border-color: green;
}
.green-hover:hover {
    background-color: rgba(6, 131, 6, 0.5);
    cursor: default;
    transition-duration: 0.5s;
    border-color: green;
}
.question:hover, .answer:hover {
    cursor: default;
}
.edit-buttons .btn {
    border-radius: 0 0 4px 4px;
    border-top: none;
}
.card.answer, .card.question {
    border-bottom-right-radius: 0;
}
.questionsub-category {
    border-bottom-right-radius: 0 !important;
    cursor: default;
}
.questionsub-category:hover .card-title, .questionsub-category.selected-subcategory .card-title {
    color: rgb(33, 37, 41);
}
.ql-editor {
    height: 300px;
}