textarea {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.selected-answer, .selected-subcategory {
    background-color: rgba(6, 131, 6, 0.5);
    cursor: default;
    border-color: green;
}
.selected-wrong-answer {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: default;
    border-color: red !important;
}
.green-hover:hover {
    background-color: rgba(6, 131, 6, 0.5);
    cursor: default;
    transition-duration: 0.5s;
    border-color: green;
}
.question:hover, .answer:hover {
    cursor: default;
}
.edit-buttons .btn {
    border-radius: 0 0 4px 4px;
    border-top: none;
}
.card.answer, .card.question {
    border-bottom-right-radius: 0;
}
.questionsub-category {
    border-bottom-right-radius: 0 !important;
    cursor: default;
}
.questionsub-category:hover .card-title, .questionsub-category.selected-subcategory .card-title {
    color: rgb(33, 37, 41);
}
.ql-editor {
    height: 200px;
}
#quill-comment-editor-container .ql-editor, #answer_form .ql-editor  {
    height: 100px !important;
}
.success-dot {
    height: 24px;
    width: 24px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.double-success-dot {
    height: 23px;
    width: 23px;
    background-color: lawngreen;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid green;
}
.failure-dot {
    height: 24px;
    width: 24px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
.dot {
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.answer-letter {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.bg-double-success {
    background-color: rgba(124, 252, 0, 1)!important;
}