{% extends 'base.html.twig' %}
{% block title %}Egzamin próbny - Junga{% endblock %}
{% block body %}
    <p>Uwaga - są dwa warianty, to jest wariant "A", nie mam wariantu "B".</p>
    <div class="mt-1">
        <img class="img-fluid" src="{{ asset('images/probny_1.jpeg') }}"/>
    </div>
    <div class="mt-1">
        <img class="img-fluid" src="{{ asset('images/probny_2.jpeg') }}"/>
    </div>
    <div class="mt-1">
        <img class="img-fluid" src="{{ asset('images/probny_3.jpeg') }}"/>
    </div>
    <div class="mt-1">
        <img class="img-fluid" src="{{ asset('images/probny_4.jpeg') }}"/>
    </div>
{% endblock %}