{% extends 'base.html.twig' %}
{% block title %}Wyniki wyszukiwania{% endblock %}
{% block body %}
    {% if items is empty %}
        <h3>Nie znaleziono wyników dla zapytania: "{{ search }}".</h3>
    {% else %}
        <ul class="list-group">
            {% for question in items %}
                {% set href = path('user_question_details', {'category': category.getLowerKey(), 'questionId': question['id']}) %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% set href = path('question_details', {'category': category.getLowerKey(), 'questionId': question['id']}) %}
                {% endif %}
                <li class="list-group-item d-flex question list-group-item-action" question-id="{{ question['id'] }}" style="padding: 0.5rem 1rem 0.5rem 1rem;">
                    <div style="width: 100%; ">
                        <a class="flex-grow-1 d-flex align-items-center question-content" style="text-decoration: none; color: rgb(33, 37, 41); overflow: hidden;" href="{{ href }}">
                            {{ question['question']|quill(true)|trimWords }}
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        {% if question['is_skipped'] is same as 1 %}
                            <span class="double-success-dot"></span>
                        {% else %}
                            {% if question['is_correct'] is same as 1 %}
                                <span class="success-dot"></span>
                            {% endif %}
                            {% if question['is_correct'] is same as 0 %}
                                <span class="failure-dot"></span>
                            {% endif %}
                            {% if question['is_correct'] is null %}
                                <span class="dot"></span>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}