{% extends 'base.html.twig' %}
{% block title %}Wybierz kurs{% endblock %}
{% block body %}
    <div class="card mb-2">
        <h6 class="card-header">Żeglarz jachtowy</h6>
        <div class="card-body">
            <a href="{{ path('question_list', {'category': 'zj'}) }}" class=" mb-2 btn btn-outline-secondary btn-sm w-100">Przejdź do testów</a>
            <small>
                <span>Wymagania, pogrubionym pojęciom zostanie poświęcone najwięcej uwagi:</span>
                <ol>
                    <li>
                        przepisy
                        <ul class="card-text mt-1">
                            <li class="fw-bold">* prawo drogi na wodach śródlądowych</li>
                            <li class="fw-bold">* sygnały wzywania pomocy</li>
                            <li class="fw-bold">(Janek zrób to) znaki i sygnały stosowane na wodach śródlądowych</li>
                            <li class="fw-bold">(Książka "Bezpieczeństwo na jachtach żaglowych") zasady postępowania w razie wypadku i awarii</li>
                            <li class="fw-bold">* zasady zachowania się na jachcie</li>
                            <li>* podstawowe zasady ochrony środowiska</li>
                        </ul>
                    </li>
                    <li>
                        budowa jachtów
                        <ul class="card-text mt-1">
                            <li class="fw-bold">podstawowe nazewnictwo części składowych typowego jachtu śródlądowego</li>
                            <li class="fw-bold">zasady bezpiecznego posługiwania się instalacjami jachtowymi</li>
                            <li>podstawowe elementy i obsługa współczesnego jachtowego silnika przyczepnego</li>
                        </ul>
                    </li>
                    <li>
                        teoria żaglowania
                        <ul class="card-text mt-1">
                            <li class="fw-bold">kursy względem wiatru, wiatr rzeczywisty i pozorny, zawietrzność i nawietrzność, praca żagli, działanie steru</li>
                            <li class="fw-bold">zapobieganie wywrotkom – stateczność</li>
                        </ul>
                    </li>
                    <li>
                        locja
                        <ul class="card-text mt-1">
                            <li class="fw-bold">oznakowanie nawigacyjne na wodach śródlądowych</li>
                            <li class="fw-bold">zagrożenia i przeszkody żeglugowe, informacje o budowlach hydrotechnicznych</li>
                        </ul>
                    </li>
                    <li>
                        meteorologia
                        <ul class="card-text mt-1">
                            <li class="fw-bold">skala Beauforte’a z opisem</li>
                            <li class="fw-bold">typowe zjawiska meteorologiczne, bryzy, odbicia, szkwały itp. Zjawiska niebezpieczne i ich oznaki</li>
                            <li class="fw-bold">komunikaty meteorologiczne, internetowe serwisy meteo</li>
                        </ul>
                    </li>
                    <li>
                        ratownictwo
                        <ul class="card-text mt-1">
                            <li class="fw-bold">środki bezpieczeństwa i sposoby posługiwania się nimi</li>
                            <li class="fw-bold">wywrotka jachtu – zachowanie załogi i ratowanie wywróconego jachtu</li>
                            <li class="fw-bold">człowiek w wodzie – niebezpieczeństwa</li>
                            <li class="fw-bold">zagrożenia pożarowe</li>
                        </ul>
                    </li>
                    <li>
                        prace bosmańskie
                        <ul class="card-text mt-1">
                            <li class="fw-bold">podstawowe węzły żeglarskie i mocowanie lin do osprzętu</li>
                        </ul>
                    </li>
                    <li>
                        manewrowanie jachtem
                        <ul class="card-text mt-1">
                            <li class="fw-bold">klar do wypłynięcia i portowy</li>
                            <li class="fw-bold">podstawy cumowania i kotwiczenia</li>
                            <li class="fw-bold">obsługa żagli i osprzętu</li>
                            <li class="fw-bold">manewrowanie jachtem pod żaglami</li>
                            <li class="fw-bold">manewrowanie jachtem żaglowym pod silnikiem - manewry portowe</li>
                            <li class="fw-bold">manewr "człowiek za burtą"</li>
                        </ul>
                    </li>
                </ol>
            </small>
        </div>
    </div>
{#    <div class="card">#}
{#        <h5 class="card-header">JACHTOWY STERNIK MORSKI</h5>#}
{#        <div class="card-body">#}
{#            <span>Wymagania:</span>#}
{#            <ul class="card-text mt-1">#}
{#                <li>Lorem ipsum</li>#}
{#                <li>Lorem ipsum</li>#}
{#                <li>Lorem ipsum</li>#}
{#                <li>Lorem ipsum</li>#}
{#                <li>Lorem ipsum</li>#}
{#            </ul>#}
{#            <a href="{{ path('question_list', {'category': 'jsm'}) }}" class="btn btn-primary">Przejdź do testów</a>#}
{#        </div>#}
{#    </div>#}
{% endblock %}