{% extends 'base.html.twig' %}
{% block title %}Dodaj odpowiedź{% endblock %}
{% block body %}
    {{ include('admin/common/question.html.twig') }}

    {% for key, answer in answers %}
        {{ include('admin/common/answer_list_item.html.twig') }}
    {% endfor %}
    <div class="mt-1">
        {{ form(answer_form) }}
    </div>
    {% if answers|length < 4 %}
        <a class="btn btn-outline-secondary btn-sm w-100" href="{{ path('select_correct_answer', {'category': category.getLowerKey(), 'questionId': question.getId()}) }}">Przejdź do wyboru właściwej odpowiedzi</a>
    {% endif %}
{% endblock %}