{% extends 'base.html.twig' %}
{% block title %}Przypisz pytanie do kategorii{% endblock %}
{% block body %}
    <div class="d-flex flex-wrap">
        {% for key, subcategory in subcategories %}
            {{ include('admin/common/question_subcategory.html.twig') }}
        {% endfor %}
    </div>

    {{ form(select_question_category_form) }}

    {{ include('admin/common/question.html.twig') }}

    {% for key, answer in answers %}
        {{ include('admin/common/answer_list_item.html.twig') }}
    {% endfor %}
{% endblock %}