{% extends 'base.html.twig' %}
{% block title %}Edycja odpowiedzi{% endblock %}
{% block body %}
    {{ include('admin/common/question_with_controls.html.twig') }}

    {% for key, answer in answers %}
        {% if answer.getId() == answerId %}
            <div class="mt-1">
                {{ form(answer_form) }}
            </div>
        {% else %}
            {{ include('admin/common/answer_list_item_with_controls.html.twig') }}
        {% endif %}
    {% endfor %}
{% endblock %}